
.icon-mail:before { content: '\e800'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
